*{ /* Selects all elements */
    box-sizing:border-box;
    padding: 0;
    margin: 0;
} 


body { /* Sets background color */
    background-color:white;
}

header { /* Fomats Header */
    padding: 5px 20px 15px 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #31343d;
    color: black;
    
}

header h1 { 
    display: inline-block;
    font-size: 5vw;
    background-color: #92cccd;
    margin-left: 0;
    padding-left: 0;
    color: black;
    width: 25%;
    width: 25vw;
    text-align: right;
}

header row { /* Formats the header buttons over to the top right of the screen */ 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
} 

header row ul { /* Gets rid of the bullet points in the list element */
    list-style-type: none;
}

header row ul li{
    text-decoration: underline;
}

header row ul li { /* Aligns all of the header links onto one line */
    display: inline-block;
    margin-left: 25px;
}

header row ul li a { /* Formatting text of header links */
    color: #92cccd;
    text-decoration: none;
}

.MainPicture { /* Formatting the banner picture under the header */
    height: 10vw;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.face {
    height: 8vw;
    padding-top: 1%;
    padding-top: 1%;
}

article { /* Changes this section to a flex section */
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    max-height: 250px;
}

article h2, main h2, footer h2 { /* Creating the about me header on the left side of the page */
    flex: 1;
    text-align: right;
    font-size: 4vw;
    border-right: 5px solid #92cccd; /* Creates border line between the header and the projects */
    padding-right: 2%;

}

article h2 {
   margin-left: 2.5%; 
}

article p {/* Formats the text for the about me section */
    flex: 4; /* Other part of the flex ratio with the above article "4:1 ratio" */
    font-size: 1.5vw;
    padding: 10px 10% 10px 3%;
} 

main{ /* Creates main section containing the the projects */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.projects{ /* Creates flex element for all the projects */
    flex: 4;
    display: flex;
    flex-wrap: wrap; 
    padding-left: 3%;
}
.card1 { /* Formats project 1 card */
    border: 5px solid #92cccd;
    padding: 1% 0 0 0;
    flex: 0 1 90%;
    margin-bottom: 0.4%;
    margin-right: 1%;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 1em;
}

.LeftCards, .RightCards {/* Formats 4 remaining cards*/
    border: 5px solid #92cccd;
    border-radius: 1em;
    padding: 1% 0 0 0;
    flex: 1 1 40%;
    height: 20vw;
    background-repeat: no-repeat;
    background-size:cover;
    display: block;
} 

/* Changes the margins for leftCards and RightCards individually */
.LeftCards{
    margin: 0.3% 1% 0.3% 0;
}
.RightCards{ 
    margin: 0.3% 10% 0.3% 0;
}

/* Formats headers of projects */
.card1 h3, .LeftCards h3, .RightCards h3 {  
    font-size: 1em;
    background-color: #92cccd;
    padding: 0;  
    color: black;
    text-decoration: underline;
    text-decoration-color: #92cccd;
    width: 10vw;
    min-width: 78px;
}

.ProjectTopic {
    font-size: 0.8em;
}

.card1 h3{
    margin-right: 80%;
}

.LeftCards h3, .RightCards h3 { 
    margin-right: 60%;
}

/* Formats the background images of all the elements */
#card1Img {
    background-image: url(../images/4907599.jpg);
}
#card2Img {
    background-image: url(../images/weather.jpg);
}
#card3Img {
    background-image: url(../images/calendar.jpg);
}
#card4Img {
    background-image: url(../images/LookAfterYourself.PNG);
}
#card5Img {
    background-image: url(../images/Quiz.png);
}

.card1:hover, .RightCards:hover, .LeftCards:hover{ /* Increases the size of cards when hovered over */
    transform:scale(1.05); 
    transition: all 0.2s ease-in-out;
}

footer{ /* Formatting footer */
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    
}

 footer ul { /* Formatting list in footer */
    flex: 4;
    font-size: 1vw;
    padding: 10px 10px 10px 3%;
    justify-content: space-evenly;
 }
 
 footer ul li { /* Formatting list elements  */
    display: inline-block;
    margin-left: 25px;
    padding: 6%;
    text-decoration: underline;
    
 }

 footer ul li a { /* formatting text within the list */
    color: black;
 }

 footer ul li a:hover  { /* Changes link text to blue when hovered */
    color: blue;
 }

 header row ul li a:hover {
     color: black;
 }
 
 @media screen and (max-width:768px) { /* Creates responsive layout when max width is below 768px */
    .LeftCards, .RightCards { /* Makes all the projects take up 100% of the width of the page*/
        flex: 100%;
        height: 10vw;
    }
    .LeftCards { /* Changes the right margin of leftCards to better match RightCards in new responsive layout*/
        margin: 0.2% 10% 0 0;
    }
    .LeftCards h3, .RightCards h3 {
        margin-right: 80%; /* Changes right margin of the header within RightCards and LeftCards to better match card1 in new responsive layout */
    }
  }
  